.title__title{
    color: var(--first-text, #000);
   
    display: flex;
    padding: 10px;
    align-items: center;    
    margin: 0 auto;
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
}