.contents__cards{
    display: grid;
    grid-template-columns: 476px 476px;
    
    justify-content: center;
    column-gap: 33px;
    padding-top: 44px;
    color: #000;
}
@media screen and (max-width: 990px) {
    .contents__cards {
            display: flex;
            justify-content: center;
            color: #000;
            width: 389px;
            flex-direction: column;
            align-items: center;
            gap: 33px;
        }
}