.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    justify-content: center;
    text-align: center;
    width: 1087px;
}
@media screen and (max-width: 990px) {
    .gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 44px;
            justify-content: center;
            text-align: center;
           
        }
}