.features__content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 269px;
    float: right;
}
@media screen and (max-width: 990px) {
    .features__content {
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;
            width: 269px;
            float: right;
        }
}