.content{
    width: 1579px;
    margin: 0 auto;
    color: #fff;
    background: var(--dark-background, #181818);
}
header{
    max-width: 1097px;
    height: 119px;
    margin: 0 auto;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.header__logo{
    margin: 0;
    padding: 10px;
    float: left; 
    margin-right: 116.5px; ;
}
.logo__img{
    width: 186px;
    height: 58px;
}
.header__menu{
    width: 393px;
    padding: 0;
    margin: 0; 
}
.menu__buttons{
    display: inline-block;
    height: 24px;
    padding: 10px; 
    margin-right: 31px; 

    color: var(--light-text, #FFF);
    text-align: center;    
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.menu__buttons:last-child{
    margin-right: 0;
}
.buttons__link{
    text-decoration: none;
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: var(--light-background, #FFF);
}
.header__button{
    margin-left: 173.5px;
    display: inline-flex;
    padding: 20px 36px;
    align-items: center;
    flex-shrink: 0;
    height: 32px;
    border: 1px solid var(--light-text, #FFF);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);   
    padding: 0 10px;
}
.button__link{
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: var(--light-background, #FFF);   
    padding: 0 10px;    
}

.slate__title{      
    text-align: center;
    margin: 0 auto;  
    padding: 10px;
    margin-top: 85px ;
    font-family: Graphik;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 88px;
    letter-spacing: 0.2px;
    width: 709px;  
    color: var(--light-text, #FFF);
}
.slate__subtitle{
    text-align: center;
    width: 582px;
    margin: 0 auto;
    margin-top: 17px;
    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.slate__buttons{
    margin: 0 auto;
    list-style: none;
    width: 500px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 85px;

}
.slate__button{
    display: inline-block; 
    width: 118px;
    text-align: center;
    margin-left: 35px;
    padding: 20px 40px;    
    border: 1px solid var(--light-text, #FFF);
    color: var(--light-background, #FFF);
    font-family: Graphik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.2px;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
}
.slate__button:first-child{
    margin-left: 0;
}
.button_perple{
    background: var(--primary, #4452FE);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    border: 0;
}

.screens{
    margin-top: 35px;
    background-image: url(image/screens.png);
    width: 1552px;
    height: 841px;
   /** background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
**/}
.features__title{
    text-align: center;
    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0.2px;
    margin: 0;
    margin-top: 162px;
}
.features__subtitle{
    width: 582px;
    margin: 27px auto 0 auto;
    color: var(--light-text, #FFF);
    text-align: center;    
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.features__image{
    width:752px ;
    height: 759px;
}
.features__chat-bot{
    margin: 80px  auto 0 auto;
    width: 1088px;   
}
.features__image{
    float: left;
    width: 752px;
}
.features__content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 269px;
    float: right;
}
.Contents{
    clear: both;
}
.block__image{   
    float: left;
    margin-top: 10px;
}
.block__title{
    width: 153px;
    padding: 10px;
    margin: 0;
    float: left;
    margin-bottom: 10px;
    color: var(--light-text, #FFF);

    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
}
.content__headline{
    width: 269px ;  
}
.block__paragraf{
    margin-top: 10px;
    clear: both;

    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}
