.features__subtitle{
    width: 582px;
    margin: 27px auto 0 auto;
    color: var(--light-text, #FFF);
    text-align: center;    
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}
@media screen and (max-width: 990px) {
    .features__subtitle {
            width: 582px;
            margin: 27px auto 0 auto;
            color: var(--light-text, #FFF);
            text-align: center;
            font-family: Graphik;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
        }
}