.header__slate{
    clear: both;
   justify-content: center;
    margin: 0 auto;
}
@media screen and (max-width: 990px) {
    .header__slate {
            clear: both;
            justify-content: center;
            margin: 0 auto;
        }
}