.link{
    text-decoration: none;
    margin: 0;
    text-align: center;
}
.link:hover{
    color: #4b4a4a;
}
@media screen and (max-width: 990px) {
    .link {
            text-decoration: none;
            margin: 0;
            text-align: center;
        }
}